@reference "../../assets/main.css";

header {
    @apply pt-10 flex justify-between;

    /* Left side */
    .left-side {
        @apply flex gap-15 items-center;

        /* Legend select */
        button.legend-select {
            @apply min-w-[270px] py-3 px-[22px] flex justify-between items-center;
            @apply rounded-full border-[1px] border-solid border-gray/30 text-gray/80 text-sm;
        }
    }

    /* Right side */
    .right-side {
        @apply flex gap-9 items-center justify-end;

        .currency-course {
            @apply flex gap-2;

            svg {
                @apply w-4 mt-1;
            }

            .texts {
                p {
                    @apply text-xs font-medium text-secondary mb-0 leading-[1];
                }
                span {
                    @apply text-sm font-bold;
                }
            }

            &.negative {
                svg {
                    @apply rotate-180;
                    path {
                        @apply fill-gray;
                    }
                }

                .texts {
                    p {
                        @apply text-gray;
                    }
                }
            }
        }

        .divider {
            @apply w-[1px] h-8 bg-gray/30; 
        }

        .price-graph {
            @apply underline text-xs;

            a {
                @apply gap-4 px-0;
                
                svg {
                    @apply w-[18px] h-[18px]
                }
            }
        }
    }
}