@import "tailwindcss";

@theme {
  --color-primary:                  #B87C1D;
  --color-secondary:                #EAC666;
  --color-white:                    #FFFFFF;
  --color-gray:                     #BCBCBC;
  --color-dark:                     #0A0A0A;
  --color-black:                    #000000;
  --spacing:                        4px;
  --spacing-0:                      0px;
  --spacing-container:              100rem;
  --spacing-container-l:            100rem;
}

@font-face {
  font-family: 'Gilmer';
  src: url('./font/Gilmer-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilmer';
  src: url('./font/Gilmer-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilmer';
  src: url('./font/Gilmer-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@layer components {
    html {
        @apply bg-dark text-white overflow-x-clip;
        font-family: 'Inter', sans-serif;
        scroll-behavior: smooth;
    
        * {
          @apply box-border;
        }
    
        body {
            @apply p-0 m-0 box-border;
        }
    }
    
    ::selection {
        @apply bg-secondary/80 text-white;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Gilmer', sans-serif;
    }
    
    h2 {
        @apply text-[56px] text-secondary mb-4;
    }

    h3 {
        @apply text-[24px] text-secondary;
    }

    .container-custom {
        @apply max-w-container-l mx-auto px-9;
    }
    
    .btn {
        @apply inline-flex items-center justify-center gap-5 px-11 py-3;
        @apply bg-linear-40 from-secondary to-primary text-dark rounded-full font-medium text-[15px];
        transition: .2s;


        &:not(.btn-transparent):hover {
            @apply shadow-secondary/20 shadow-xl;
        }

        &.btn-transparent {
            @apply bg-none text-secondary;

            &:hover {
                @apply text-white;

                svg, svg * {
                    @apply !fill-white;
                }
            }
        }

        svg {
            @apply w-[20px] h-[20px];
        }
    }

    a, svg, svg * {
        transition: .3s;
    }
}