@reference "../../assets/main.css";

section.about-me {
    @apply scroll-mt-30 relative;
    @apply lg:pt-50 lg:scroll-mt-9;
    background: linear-gradient(0deg, 
                var(--color-black) 0%, 
                rgb(11, 12, 14) 50%, 
                var(--color-black) 100%);




    .numbers {
        p {
            @apply font-normal;

            span.number {
                @apply text-4xl font-semibold text-transparent bg-linear-to-r from-secondary to-primary bg-clip-text;
                @apply lg:text-5xl;
            }
        }
    }

    .timeline {
        .job {
            @apply px-0 py-10 flex flex-col gap-4 border-white/20 border-t-[1px];
            @apply lg:px-20 lg:py-10 lg:flex-row lg:items-center lg:justify-between;

            .date-wrap {
                time {
                    @apply text-xl opacity-90;
                }
            }

            .position-wrap {
                @apply min-w-[15vw];
                
                .company-name {
                    @apply text-2xl font-medium;
                }
    
                .job-position {
                    @apply text-lg font-normal opacity-80;
                }
            }
        }
    }
}